# Investment amount per token
INVESTMENT_AMOUNT="0.1"
# Wallet seed phrase
MNEMONIC=""
# Max Tax 10% 
MAXTAX=10
# Max Liquidity 
MAX_LIQUIDITY=500
# Min Liquidity 
MIN_LIQUIDITY=30
# Take 90% profit with max tax accounted for
PROFITX_AMOUNT=1.9 
# 10% loss with max tax accounted for
STOPLOSSX_AMOUNT=0.90
# False to turn off auto sell
AUTOSELL=true
# Number Of Tokens To Buy 
NUMBER_OF_TOKENS_TO_BUY=2
# Only buys coinmarketcap coins. if stratgey = 'COINGECKO' it will only buy coingecko coins 
STRATEGY="COINMARKETCAP"
# Gas price for transaction
GAS_PRICE="6"
# Your APP ID From my.telegram.org
APP_ID=XXX
# Your APP HASH From my.telegram.org
APP_HASH=XXX
# Your wallet address here
RECIPIENT=
# Your wallet's private key
PRIVATE_KEY=
# BSC node web socket address
BSC_NODE_WSS=wss://bsc-ws-node.nariox.org:443
# Gas limit for transaction
GAS_LIMIT="1000000"

