# Your wallet address here
RECIPIENT=""
# Investment amount per token
INVESTMENT_AMOUNT="0.1"
# Wallet seed phrase
MNEMONIC=""
# Max Tax 10% 
MAX_TAX=10
# Max Liquidity 
MAX_LIQUIDITY=500
# Min Liquidity 
MIN_LIQUIDITY=30
# Take 90% profit with max tax accounted for
PROFIT_X_AMOUNT=1.9 
# 10% loss with max tax accounted for
STOPLOSS_X_AMOUNT=0.90
# False to turn off auto sell
AUTO_SELL=true
# Number Of Tokens To Buy 
NUMBER_OF_TOKENS_TO_BUY=2
# Only buys coinmarketcap coins. if stratgey = 'COINGECKO' it will only buy coingecko coins 
STRATEGY="COINMARKETCAP"
# Your APP ID From my.telegram.org
APP_ID=XXX
# Your APP HASH From my.telegram.org
APP_HASH=XXX
# Fill this later with the value from long string on command prompt to avoid logging in again
STRING_SESSION=""
# BSC node web socket address (wss://bsc-ws-node.nariox.org:443)
BSC_NODE_WSS="https://bsc-dataseed.binance.org/"
# Gas limit for transaction
GAS_LIMIT=1000000
# Gas price for transaction
GAS_PRICE="6"